/*MENU GRID STYLE*/
@import url('https://fonts.googleapis.com/css?family=Kurale&display=swap');

body {
    background-color: #ffeaa7;
}
/*div.Head1
{
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    
    background-color: rgba(243, 204, 76, 0.904);
    color: black;
    padding: 10px;

    text-align: center;
    font-family: 'Kurale', serif;
    font-size: 30px;
}
.Head1:after
{
    content: " ";
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: auto;
    height: 36px;
    background: linear-gradient( rgb(29, 175, 194) 0%, transparent 0%), linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 linear-gradient(45deg, #272220 33.33%,  rgb(29, 175, 194) 33.33%) 0 0%;
    background: -webkit-linear-gradient( rgb(29, 175, 194) 0%, transparent 0%), -webkit-linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 -webkit-linear-gradient(45deg, #272220 33.33%,  rgb(29, 175, 194) 33.33%) 0 0%;
    background: -o-linear-gradient( rgb(29, 175, 194) 0%, transparent 0%), -o-linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 -o-linear-gradient(45deg, #272220 33.33%,  rgb(29, 175, 194) 33.33%) 0 0%;
    background: -moz-linear-gradient( rgb(29, 175, 194) 0%, transparent 0%), -moz-linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 -moz-linear-gradient(45deg, #272220 33.33%,  rgb(29, 175, 194) 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
}*/
.menu-grid {
    position: relative;
    top: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    padding: 10px;
    z-index: 2;
    float: left;
    height: 800px;
    width: 60%;
    overflow-y: scroll;
    /*overflow-x: scroll*/;
}

.menu-grid:after {
    content: "";
    display: table;
    clear: both;
    }
/* STYLE FOR EDITING THE INDIVIDUAL CELLS IN THE MENU GRID*/
.menu-grid > .grid-item {
        position: relative;
        text-align: center;
        font-size: 30px;
        background-color: #74b9ff;
        height: 300px;
        width: 300px;
        cursor: pointer;
        overflow: hidden;
    }

.menu-grid > .grid-item .imgBox {
        position: relative;
    }

.menu-grid > .grid-item img {
    position: absolute;
    top: 90px;
    left: 25px;
    height: 200px;
    width: 250px;
    /*z-index: 1*/
    
    transition: transform 1s;

}

img:hover .descBox .desc {
    transform: scaleY(1);
}

.incBtn
{
    position: absolute;
    top: 50px;
    right:10px;

    width: 20px;
    height: 20px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.decBtn {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 20px;
    height: 20px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.qtyLab {
    position: absolute;
    top: 50px;
    left: 60px;
    width: 15px;
}

.order-part {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    float: left;
    width: auto;
    font-family: 'Kurale', serif;
}

.order-part::after {
    content: "";
    display: table;
    clear: both;
}

.order-part > ul {
    list-style:none;
    }

label.cartLabel {
    position: relative;
    padding: 10px;
    font-size: 30px;
    font-family: 'Kurale', serif;
 }

img.cartLabel {
    position: absolute;
    top: 15px;
    height: 30px;
    width: 30px;
}

.itemPart {
    position: relative;
    left: 10px;
    font-family: 'Kurale', serif;
}

.orderButn {
    position: fixed;
    top: 500px;
    height: 30px;
    width: 400px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(203, 181, 223);
}
/*ADDED BY DERICK*/
.grid-item{
    position:absolute;
    padding:10px;
}
.menu-grid .grid-item .hoverDiv {
    position:absolute;
    top:90px;
    left:10px;
    right:10px;

    background:rgba(211,211,211,0.8);
    
    border:solid;
    padding:20px;
    font-family: 'Kurale', serif;

    text-align:center;
    
    transform:scale(0);
    transition: transform 0.5s;

}

.menu-grid .grid-item:hover .hoverDiv
{
    transform:scale(1);
   
}

.menu-grid .grid-item:hover img
{
    transform:scale(1.2);
    z-index:(-1);

}