/*MENU GRID STYLE*/
@import url('https://fonts.googleapis.com/css?family=Kurale&display=swap');
/*div.Head1
{
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    
    background-color: rgba(243, 204, 76, 0.904);
    color: black;
    padding: 10px;

    text-align: center;
    font-family: 'Kurale', serif;
    font-size: 30px;
}
.Head1:after
{
    content: " ";
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: auto;
    height: 36px;
    background: linear-gradient( rgb(29, 175, 194) 0%, transparent 0%), linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 linear-gradient(45deg, #272220 33.33%,  rgb(29, 175, 194) 33.33%) 0 0%;
    background: -webkit-linear-gradient( rgb(29, 175, 194) 0%, transparent 0%), -webkit-linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 -webkit-linear-gradient(45deg, #272220 33.33%,  rgb(29, 175, 194) 33.33%) 0 0%;
    background: -o-linear-gradient( rgb(29, 175, 194) 0%, transparent 0%), -o-linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 -o-linear-gradient(45deg, #272220 33.33%,  rgb(29, 175, 194) 33.33%) 0 0%;
    background: -moz-linear-gradient( rgb(29, 175, 194) 0%, transparent 0%), -moz-linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 -moz-linear-gradient(45deg, #272220 33.33%,  rgb(29, 175, 194) 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px;
}*/
.menu-grid
{
    position: relative;
    top: 0;

    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    background-color: rgb(203, 181, 223);
    padding: 10px;
    z-index: 2;
    
    float:left;
    height: 800px;
    width: 60%;

    overflow-y: scroll;
    /*overflow-x: scroll*/;

}
.menu-grid:after
{
    content: "";
    display: table;
    clear: both;
}
/* STYLE FOR EDITING THE INDIVIDUAL CELLS IN THE MENU GRID*/
.menu-grid > div
{
    position: relative;
    text-align: center;
    font-size: 30px;
    /*background-color: rgb(69, 154, 233);*/

    height: 300px;
    width: 300px;
    
    cursor: pointer;
    overflow: hidden;
}
.menu-grid > div img
{
    position: absolute;

    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;

    height: 200px;
    width: 200px;

    z-index: 1;
}
/*div.fadedbox
{
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 360px;
    height: 100px;
    padding: 130px 20px;

    z-index: 4;
}
.menu-grid > div > img:hover .fadedbox
{
    opacity:0.6;
}
.menu-grid .text 
{
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
}
.menu-grid .desc 
{
    font-size: 2.5em;
    text-transform: lowercase;
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}
.menu-grid > div > img:hover .desc, .menu-grid > div > img:focus .desc 
{
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}*/

.incBtn
{
    position: absolute;
    top: 50px;
    left: 70px;

    width: 20px;
    height: 20px;

    color: white;
    background-color: transparent;
    border: none;

    font-size: 20px;
}

.decBtn
{
    position: absolute;
    top: 50px;
    left: 10px;
    
    width: 20px;
    height: 20px;

    color: white;
    background-color: transparent;
    border: none;

    font-size: 20px;
}

.qtyLab
{
    position: absolute;
    top:50px;
    left:60px;
    width: 15px;
}
.order-part
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    z-index: 1;
    
    float: left;
    width: auto;
}
.order-part::after
{
    content: "";
    display: table;
    clear: both;
}
label.cartLabel
{
    position: relative;
    padding: 10px;

    font-size: 30px;
    font-family: 'Kurale', serif;
}
img.cartLabel
{
    position: absolute;
    top: 15px;
   
    height: 30px;
    width: 30px;
}
.itemPart
{
    position: relative;
    left: 10px;

    font-family: 'Kurale', serif;
}
.orderButn
{
    position:fixed;
    top: 500px;

    height: 30px;
    width: 400px;

    text-align: center;
    text-transform: uppercase;

    background-color: rgb(203, 181, 223);
}
